.Wrapper {
    display: flex;
    height: 90vh;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .Input {
    width: 80vw;
    height: 40vh;
    resize: none;
    overflow: hidden;
    font-family: "Source Code Pro", monospace;
  }

  .Divider {
    width: 90vw;
    height: 0;
    border-bottom: 1px solid gray;
  }

  .Output {
    border: 1px solid blue;
    height: 40vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .Output > * {
    margin: 5px;
  }

/* for bigger devices display side by side */
@media (min-width: 576px) {
  .Wrapper {
    height: auto;
    flex-direction: row;
  }

  .Input {
    width: 40vw;
    height: 80vh;
    resize: none;
    overflow: hidden;
    font-family: "Source Code Pro", monospace;
  }

  .Divider {
    height: 90vh;
    width: 0;
    border-left: 1px solid gray;
  }

  .Output {
    border: 1px solid blue;
    height: 80vh;
    width: 40vw;
    text-align: left;
    padding: 5px;
  }
}
