.Header {
  height: 7.5vh;
  width: 95vw;
  background-color: blue;
  font-family: "Dancing Script", cursive;
  color: cornsilk;
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}
