.Wrapper {
    display: flex;
    height: 90vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Textbox {
    width: 40vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Divider {
    border-left: 1px solid grey;
    height: 95%;
}